<div>
  <h2 id="page-heading" data-cy="SalleHeading">
    <span jhiTranslate="myschoolApp.salle.home.title">Salles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="myschoolApp.salle.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-salle"
        [routerLink]="['/salle/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="myschoolApp.salle.home.createLabel"> Create a new Salle </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="salles?.length === 0">
    <span jhiTranslate="myschoolApp.salle.home.notFound">No salles found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="salles && salles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="libelle">
            <span jhiTranslate="myschoolApp.salle.libelle">Libelle</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="capacite">
            <span jhiTranslate="myschoolApp.salle.capacite">Capacite</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let salle of salles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/salle', salle.id, 'view']">{{ salle.id }}</a>
          </td>
          <td>{{ salle.libelle }}</td>
          <td>{{ salle.capacite }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/salle', salle.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/salle', salle.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(salle)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
